<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/app.css">
    <link rel="stylesheet" href="../static//css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Please Rate services</title>
</head>
<body>
    <div class="container d-flex justify-content-center">
        <div>
            <img src="../static/landcrusier.jpg" height="100" width="500"  class="image img-fluid" alt="brand" />
            {% if message %}
            <div class="text-center alert-danger my-2 border">
                <p class="text-danger">{{message | safe}}</p>
            </div>
            {% endif %}
            <form action="/submit" method="POST">
                <div class="form-group">
                    <h3>Customer Name</h3>
                    <input
                    type="text"
                    name="customer"
                    placeholder="Name of vehicle owner"
                    />
                </div>
                <div class="form-group">
                    <h3>Dealer</h3>
                    <select name="dealer">
                        <option value="">Select Dealer</option>
                        <option value="Tom Smith">Tom Smith</option>
                        <option value="Karen Swanson">Karen Swanson</option>
                        <option value="Jim Johnson">Jim Johnson</option>
                        <option value="Shauna Gifford">Shauna Gifford</option>
                    </select>
                </div>
                <div class="form-group">
                    <h3>Please rate your Dealer</h3>
                    <input type="radio" name="rating" value="1" />
                    <input type="radio" name="rating" value="2" />
                    <input type="radio" name="rating" value="3" />
                    <input type="radio" name="rating" value="4" />
                    <input type="radio" name="rating" value="5" />
                    <input type="radio" name="rating" value="6" />
                    <input type="radio" name="rating" value="7" />
                    <input type="radio" name="rating" value="8" />
                    <input type="radio" name="rating" value="9" />
                    <input type="radio" name="rating" value="10" checked />
                </div>
                <div class="form-group">
                    <h3>Comments about your experiences</h3>
                    <textarea
                    name="comments"
                    id=""
                    cols="30"
                    rows="10"
                    placeholder="Tell us what you like"
                    >
                    </textarea>
                </div>
                <input type="submit" value="submit" class="btn btn-primary" />
            </form>
        </div>
    </div>
</body>
</html>